<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css">
</head>
<body>
   	<div>
    	<div style="height: 50px;">
        <!-- <img class="pic-box" src="http://localhost:8088/img5.jpg"> -->
        <p id="text"> shopaholic </p>
    	</div>
    	<div class="content-box gap">
            <ul id="items">
                
            </ul>
        </div>
    </div>  
</body>
<!-- <script type="text/javascript">
    var localHandler = function(data){
        alert('本地函数可以被跨域的remote.js文件调用。数据：' + data.result);
    };
</script> -->

<!-- <script type="text/javascript" src="http://localhost:8088/remote.js"></script> -->
</html>
