<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" type="text/css" href="./css/site.css">
  <!-- Adress bar styling -->
  <meta name="theme-color" content="#FFD700">
  <meta name="msapplication-navbutton-color" content="#FFD700">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- <link rel="manifest" href="./manifest.json"> -->
</head>
<body>
  <!-- <svg width="300px" height="80px" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <rect id="path1" x="80" y="10" rx="15" ry="15" width="100" height="50" fill-opacity="0"  stroke="black" stroke-width="2"/>
  <path id="path2" d="M10 10 H 60 V 60 H 10 L 10 10" fill-opacity="0"  stroke="black" stroke-width="2" stroke-linecap="round"/>
  <text>
  <textPath xlink:href="#path2">This text follows a curve.</textPath>
  </text> -->
<!-- </svg>
  <div id="header-offline" class="back">
    <img id="logo-offline" src="./images/newspaper.svg" />
    <h1>Progressive Times</h1>
    <h6>Whoops! It looks like you are currently offline.</h6>
    <svg width="300px" height="600px" version="1.1" xmlns="http://www.w3.org/2000/svg">
  
  <defs>
    <style type="text/css"><![CDATA[
        #rect1 { fill: url(#Gradient1); }
        .stop1 { stop-color: red; stop-opacity: 0.5; }
        .stop2 { stop-color: black; stop-opacity: 0.2; }
        .stop3 { stop-color: skyblue; }
    ]]></style>

      <linearGradient id="Gradient1">
        <stop class="stop1" offset="0%"/>
        <stop class="stop2" offset="50%"/>
        <stop class="stop3" offset="100%"/>
      </linearGradient>
      <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="red"/>
        <stop offset="50%" stop-color="black" stop-opacity="0"/>
        <stop offset="100%" stop-color="skyblue"/>
      </linearGradient>

      <radialGradient id="RadialGradient1">
        <stop offset="0%" stop-color="red"/>
        <stop offset="100%" stop-color="skyblue"/>
      </radialGradient>
      <radialGradient id="RadialGradient2" cx="0.25" cy="0.25" r="0.25">
        <stop offset="0%" stop-color="red"/>
        <stop offset="100%" stop-color="skyblue"/>
      </radialGradient>
      
  </defs>

  <rect id="rect1" x="10" y="10" rx="15" ry="15" width="100" height="100"/>
  <rect x="10" y="120" rx="15" ry="15" width="100" height="100" fill="url(#Gradient2)"/>
  
  <rect x="120" y="10" rx="15" ry="15" width="100" height="100" fill="url(#RadialGradient1)"/> 
  <rect x="120" y="120" rx="15" ry="15" width="100" height="100" fill="url(#RadialGradient2)"/>
  
  <text transform="translate(30,400)" id="example">This is an example text.</text>
  <text>
    <tref xlink:href="#example" />
  </text>

  <path id="my_path" d="M 20,20 C 40,40 80,40 100,20" fill-opacity="0"/>
  <text transform="translate(30,400)">
    <textPath xlink:href="#my_path">This text follows a curve.</textPath>
  </text>

</svg> -->
  </div>
</body>
</html>
