{{#each this}}
<li data-depth="{{@index}}" class="list-item" >
  <div class="pic-box">
    <img class="pic-box" src="{{img}}">
  </div>
  <p class="dis-inb">{{title}}</p>
  <p class="dis-inb">{{id}}</p>
</li>
{{/each}}
