<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
   	<div class="viewport">
    	<div style="height: 50px;">
        <img src="../static/img/test2.png">
        <input id="colorpicker" type="color" value="#808080">
    	</div>
    </div> 
    <!-- WebpackDemo  -->
    <iframe src="http://localhost:8086/index.html"></iframe>
    <!-- WebpackDemo2  -->
    <!-- <iframe src="http://localhost:8086/offline.html"></iframe>  -->
</body>
</html>
